.xr_mvpo {visibility:hidden; display:none;}
.xr_page0 {width: 960px; top: 0px}
.xr_page1 {width: 960px; top: 1013px}
.xr_page2 {width: 960px; top: 2755px}
.xr_page3 {width: 960px; top: 4520px}
.xr_page4 {width: 960px; top: 5556px}
